#!/usr/bin/make -f

#export DH_VERBOSE=1

# stuff from old build-system. Still needed? (costela 2009-12-30)
#ifneq (,$(findstring arm-linux,$(DEB_BUILD_GNU_TYPE)))
#	CPPFLAGS += -fomit-frame-pointer
#	CPPFLAGS += -ffast-math
#	CPPFLAGS += -mcpu=arm1136j-s -mfpu=vfp -mfloat-abi=softfp
#endif


%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --bindir=\$${prefix}/games

override_dh_auto_build:
	convert -monitor -resize 32x32 data/icon64/numptyphysics.png numptyphysics.xpm
	dh_auto_build

override_dh_install:
	dh_install
	dh_install numptyphysics.xpm usr/share/pixmaps

#override_dh_installchangelogs:
#	dh_installchangelogs NEWS
